body{
    margin: 0;
}
.main-scr{
    height: 570px;
    width: 100%;
    
}
.header{
    width: 100%;
    height: 80px;
    background: linear-gradient(-179deg, #084ea8, #150f7d);

}
.logo{
    width: 50%;
    height: 100%;
    padding-top: 20px;
    float: left;
}
#logo{
    height: 40px;
    width: 40px;
    object-fit: fill;
    margin-left: 20px;
    margin-bottom: 10px;
}
.logo a{
    font-family: poppins semibold;
    color: rgb(255, 255, 255);
    font-size: 23px;
    text-decoration: none;
    margin-top: 4px;
    margin-left: -9px;
    position: absolute;
}
.tab {
    width: 45%;
    height: 100%;
    float: left;
    position: relative;
    
}
#tb1{
  font-family: poppins;
  color: #ffffff;
  margin-top: 30px;
  margin-left: 360px;
  margin-right: 0px;
  
}
.avatar{
    width: 5%;
    height: 100%;
    float: left;
    text-align: right;
    
}

#avatar{
    height: 40px;
    width: 40px;
    object-fit: fill;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 20px;

}

.main{
    height: 80%;
    width: 100%;
    float: left;
}
.login{
    width: 50%;
    height: 100%;
    background: #ffffff;
    float: left;
}
.screen{
    width: 50%;
    height: 100%;
    background: #ffffff;
    float: left;
}
#gif{
    width: 400px;
    height: 400px;
    object-fit: scale-down ;
    float: left;
    margin-left:170px;
 }
.footer{
    width: 100%;
    height: 10%;
    background: #ffffff;
    float: left;
}
.login{
    width: 50%;
}


