body{
    margin: 0;
}
.main-scr{
    height: 570px;
    width: 100%;
    
}
.header{
    width: 100%;
    height: 90px;
    background: linear-gradient(-179deg, #084ea8, #150f7d);
    
}
.logo{
    width: 50%;
    height: 100%;
    padding-top: 20px;
    float: left;
}
#logo{
    height: 50px;
    width: 50px;
    object-fit: fill;
    margin-left: 20px;
    margin-bottom: 10px;
}
.logo a{
    font-family: poppins semibold;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-decoration: none;
    margin-top: 4px;
    margin-left: -12px;
    position: absolute;
}
.tab {
    width: 45%;
    height: 100%;
    float: left;
    position: relative;
    
}
#tb1{
  font-family: poppins;
  color: #ffffff;
  margin-top: 30px;
  margin-left: 360px;
  margin-right: 0px;
  
}
.avatar{
    width: 5%;
    height: 100%;
    float: left;
    text-align: right;
    
}

#avatar{
    height: 50px;
    width: 50px;
    object-fit: fill;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 20px;

}

.main{
    height: 80%;
    width: 100%;
    float: left;
}
.login_side{
    width: 60%;
    height: 100%;
    background: #ffffff;
    float: left;
}
.screen{
    width: 30%;
    height: 100%;
    background: #ffffff;
    float: left;
}
#right{
    width: 400px;
    height: 400px;
    margin-top: 50px;
}
.log1{
    position: absolute;
    width: 364px;
    height: 278px;
    background:linear-gradient(158deg, #407bff, transparent);
    margin-left: 347px;
    margin-top: 122px;
    border-radius: 9px;
}
.log{
    position: absolute;
    width: 364px;
    height: 300px;
    background: linear-gradient(-119deg, #397bffa3,#407bff,#6494ff,#6494ff);
    margin-left: 426px;
    margin-top: 122px;
    border-radius: 9px;
}
#gif{
    width: 749px;
    height: 687px;
 }
 #signin{
    position: absolute;
    margin-top: 123px;
    margin-left: 347px;
    

    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 27px;
    
 }
 .login{
    font-family: poppins semibold;
    color: #ffffff;
 }
 input{
    width: 330px;
    height: 50px;
    border-radius: 4px;
    border: none;
    outline: none;
 }
 input[type=reset]:hover{
    border: 2px solid #1a73e8;
 }
 input[type=email]{
    
 }
 td{
    text-align: right;
 }

.footer{
    width: 100%;
    height: 10%;
    /*background: #ffffff;*/
    float: left;
}
.login{
    width: 50%;
}


